<!-- <h3>User Info</h3>
<h1><b>Username</b></h1><br />
<a> {{user.username}} </a> <br /> <br />
<h1><b>Email</b></h1><br />
<a> {{user.email}} </a> <br /> <br />
<h1><b>Address</b></h1><br />
<a> {{user.address}} </a> <br /> <br /> -->
<label for="username"><b>Username</b></label
><br />
<input type="text" placeholder=" Enter Username" name="username" required [(ngModel)]="user.username" /><br /><br />

<label for="psw"><b>Password</b></label
><br />
<input type="password" placeholder=" Enter Password" name="psw" required [(ngModel)]="user.password" /><br /><br />

<label for="psw-repeat"><b>Repeat Password</b></label
><br />
<input
    type="password"
    placeholder=" Repeat Password"
    name="psw-repeat"
    required
    [(ngModel)]="repeatedPassword"
/><br /><br />

<label for="email"><b>Email</b></label
><br />
<input type="text" placeholder=" Enter Email" name="email" required [(ngModel)]="user.email" /><br /><br />

<label for="address"><b>Address</b></label
><br />
<input type="text" placeholder=" Enter Address" name="address" required [(ngModel)]="user.address" /><br /><br />

<button type="submit" (click)="Save()">Save</button>
